* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
    height: 100%;
}

table {
    width: 100%;
}

.upset {
    vertical-align: 15%;
    font-size: 75%;
}

.wrapper {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

p {
    text-align: justify;
}

#header {
    background: #57d319;
    height: 70px;
    color: #282828;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    z-index: 5;
    position: fixed;
    width: 100%;
}

#content {
    position: relative;
    top: 70px;
}

#content p {
    margin-bottom: 20px;
}

#content textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    font: inherit;
    padding: 5px;
    box-sizing: border-box;
}

#menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #EDEDED;
    top: 70px;
    max-width: 1080px;
    z-index: 3;
    padding: 40px;
    box-sizing: border-box;
    display: none;
}

#menu ul {
    list-style: none;
}

#menu a:hover {
    color: #343e3d;
}

#menu a {
    display: block;
    margin-top: 20px;
    font-size: 28px;
    text-decoration: none;
    color: #607466;
    margin-left: 12px;
    padding: 8px;
    cursor: pointer;
}

#menu h2 {
    font-weight: 400;
    font-size: 32px;
}

#header #navigation {
    display: flex;
    line-height: 70px;
    font-weight: 500;
    text-transform: uppercase;
}

#header #navigation .menubutton {
    padding: 20px;
    cursor: pointer;
}

#header #navigation .menubutton div {
    width: 30px;
    height: 2px;
    margin-top: 6px;
    background: #282828;
}

#header #navigation .button {
    width: 70px;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    color: inherit;
}

#header #navigation .button:hover, #header #navigation .menubutton:hover {
    background: rgba(255, 255, 255, 0.2);
}

#header #navigation #apptitle {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: inherit;
}


.grant {
    display: inline-block;
    position: fixed;
    top: 100px;
    width: 40%;
}

.grant form {
    width: 100%;
}

.users {
    display: flex;
    margin-left: 45%;
}

.users table {
    margin-left: 25px;
}

.users th, td {
    padding: 8px;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

p {

    font-family: 'IBM Plex Sans', sans-serif;
}

.content {
    background: #EDEDED;
    text-align: justify;
    padding: 40px;
    font-weight: 400;
    line-height: 28px;
    min-height: 440px;
}

.content img {
    max-width: 280px;
    width: 100%;
}

.container {
    overflow: auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.product, .banner, .category {
    padding: 20px;
    box-sizing: border-box;
    color: white;
    margin: 40px;
    flex-grow: 1;
    min-width: 230px;
    height: 320px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    transition: 0.1s;
    bottom: 0px;
    text-decoration: none;
}

.category {
    height: unset;
    font-weight: bold;
    font-size: 28px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    text-align: center;
}

.category h2 {
    font: inherit;
}

.banner {
    margin: 40px;
    width: calc(100% - 2 * 40px); /* 40px = the margin from .banner (class above) */
    min-width: unset;
    background: url("/img/banner.jpg");
    box-shadow: none;
    text-align: center;
    padding-top: 90px;
    color: #343e3d;
    margin-bottom: 70px;
}

.banner h1 {
    font-size: 52px;
    margin-bottom: 5px;
}

.product .top {
    font-weight: bold;
    font-size: 28px;
    position: absolute;
}

.product .bottom {
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    background: #57d319;
    border-radius: 4px;
}

.product {
    font-size: 24px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.product:hover, .category:hover {
    bottom: 6px;
}
h1.floated {
    width: 100%;
    margin: 0;
    padding: 40px 40px 20px;
}
.formblock {
    display: inline-block;
    width: 50%;
    margin-right: 0;
}

.smallform {
    display: flex;
    flex-direction: column;
    padding: 0.2% 0;
    max-width: 450px;
    margin-top: 6%;
}

.smallform input {
    margin: 0 0 8% 0;
    height: 34px;
    border-radius: 5px;
    background-color: #aedcc0;
    color: #282828;
    border: 1.3px rgba(52, 62, 61, 0.3) solid;
    font: inherit;
    padding-left: 1%;
}

.content input::placeholder {
    color: #282828;
}

.send input {
    width: 70%;
    height: 37px;
    background-color: #57d319;
    border-radius: 8px;
    margin-left: 29.5%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 18px;
}

.images {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "OneSpan TwoSpan TwoSpan ." "ThreeSpan ThreeSpan ThreeSpan ." ". . . .";
}

.imageblock {
    display: inline-block;
    width: 50%;
}

.images img {
    max-width: 100%;
    width: 100%;
    height: 60%;
    border: 2px rgba(52, 62, 61, 0.3) solid;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    margin: 14px 0;
}

.OneSpan {
    grid-area: OneSpan;
    padding: 0 5px;
}

.TwoSpan {
    grid-area: TwoSpan;
    padding: 0 5px;
}

.ThreeSpan {
    grid-area: ThreeSpan;
    padding: 0 5px;
}

.formlayout {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 400px){
    .formlayout {
        flex-direction: column;
    }

    .images {
        margin-top: 20%;
        width: 100%;
    }

    .formblock {
        width: 100%;
    }
}



#black_overlay {
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.35);
    display: none;
}

#product_overview, #shoppingcart {
    /*display: flex;*/
    display: none;
    position: fixed;
    padding: 20px;
    bottom: 0;
    width: 100%;
    background: #343e3d;
    max-width: 1080px;
    z-index: 11;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    max-height: 80vh;
    overflow: auto;
}

#shoppingcart {
    top: 70px;
    z-index: 4;
    bottom: unset;
    background-color: #343e3d;
    border-radius: 0 0 20px 20px;
}

#product_overview input {
    display: block;
    width: 100%;
    font-size: inherit;
    color: white;
    background: #57d319;
    border: none;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}
#product_overview .row {
    flex-grow: 1;
    width: 100%;
    padding: 20px;
}

#product_overview .row img {
    width: 100%;
    background: black;
    min-height: 80px;
}

#product_overview #price {
    font-size: 24px;
    text-align: right;
    margin-top: 20px;
}

#product_overview .pv_added {
    background: none;
    box-shadow: none;
    cursor: default;
}
#product_overview #pv_name {
    font-weight: bold;
    font-size: 24px;
}

.load {
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-top: 2px solid #EDEDED;
    border-radius: 100%;
    margin: 50px auto;
    border-top: 2px solid #57D319;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: rotate;
}

#product_cart .line {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

#product_cart .line div {
    flex-grow: 1;
}

#product_cart .line div input {
    padding: 5px;
    border-radius: 4px;
    border: none;
    max-width: 50px;
}

#product_cart .line .pc_price {
    max-width: 100px;
    text-align: right;
}

#product_cart .line .pc_delete {
    text-align: right;
    max-width: 45px;
    cursor: pointer;
}

#product_cart .line .pc_quantity {
    max-width: 100px;
}

#product_cart #template {
    display: none;
}


.linkbutton {
    display: inline-block;
    font-size: inherit;
    color: white;
    background: #57d319 !important;
    border: none !important;
    padding: 8px !important;
    border-radius: 20px !important;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    min-width: 140px;
    text-align: center;
    text-decoration: none;
}

.content .linkbutton {
    box-shadow: none;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 720px) {
    #product_overview {
        flex-wrap: wrap;
    }

    #product_overview .row img {
        border-radius: 20px;
    }

    #product_cart .line {
        flex-wrap: wrap;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    #product_cart .line .pc_name {
        width: 100%;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 24px;
    }
}

.formblock select {
    margin-bottom: 40px;
}

.del i {
    color: #000000;
}

select.dropdown {
    margin-bottom: 30px;
}

.container .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.container .row .linkbutton {
    max-height: 30px;

}

.container .row .linkbutton .right {
    float: right;
}

.container .row .linkbutton .left {
    float: left;
}

.container .row .burger {
    background-image: url("/img/upload/burger/burger.jpg");
}

.container .row .pizza {
    background: url("/img/upload/pizza/pizza.jpg");
}

.container .row .softdrinks {
    background: url("/img/upload/drink/softdrinks.jpg");
}

.container .row a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .container .row {
        flex-direction: column;
    }

    .container .row .linkbutton {
        display: none;
    }
}